/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

input, button {
  display: block;
  width: calc(100% - 20px);
  margin: 15px auto;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 24px;
}
input::placeholder{
  color: #bcbcbc;
}


button {
  background-color: #28a745;
  max-width: 20%;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 80px;
}

li {
  background-color: #ebebeb;
  margin: 10px 0;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h3 {
  margin: 0;
  min-width: 20%;
  color: #007bff;
}

p {
  color: #555;
  padding-left: 20px;
  flex-grow: 1;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #c82333;
}
